@charset = utf-8;

body {
	background-color: #111111;
	
}
div#Back {
	background-color:white;
	margin-left: auto;
    margin-right: auto;
	padding-top: 5px;
	width: 50em;
	height: 60em;
}

body h1 {
	color: #30908F;
	font-family: Cambria;
	font-size: 28pt;
	text-align: center;
	margin-bottom: -2px;
}

body h2 {
	color: #30908F;
	font-family: Cambria;
}

body header p {
	font-align: center;	
}

body p, li {
	font-family: Cambria;
	font-size: 11pt;
}

body p.EducacaoNomes {
	font-weight: bold;
	font-size: 12.3pt;
}

div#Centralizar {
	margin-left: auto;
    margin-right: auto;
    width: 42em;
}

header {
	text-align: center;
}

body hr {
	height: 1px;
	background-color: #30908F;
}
	

